@import "tailwindcss";

<<<<<<< HEAD
.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}



=======


>>>>>>> 4ff7b09b863579e20fdb563c0a24da0fcf408c4a
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.containerbot {
  position: relative;
  height: 20vh;
  display: flex;
}

.app-container {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  z-index: 10;
  text-align: center;
}

.txt1 {
  padding: 10%;
}
