@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.containerbot {
  position: relative;
  height: 20vh;
  display: flex;
}

.app-container {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  z-index: 10;
  text-align: center;
}

.separatorbox {
  position: relative;
  height: 10vh;
  display: flex;
}
.box {
  justify-content: center;
  display: inline-block;
  background-color: #603875;
  color: white;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 100%, black;
  text-align: center;
}

.box:hover {
  transform: scale(1.1);
}

.box:active {
  transform: scale(0.8);
}

.txt1 {
  padding: 10%;
}

.randomaah {
  padding: 5%;
  align-items: center;
  
}

.header {
  position: relative;
  background-color:#302f30;
  height: 70px;
  width: auto;
  overflow: hidden;
  padding-left: 3%;
  padding-top: 1%;
  padding-right: 3%;
  padding-bottom: 1%;
  justify-content:center;
  align-items: center;
  display: flex;
}